In [ ]:
# Input YAML data
person:
  name: John
  age: 30

In [ ]:
# Python equivalent
{
    'person': {
        'name': 'John',
        'age': 30
    }
}

In [ ]:
<!-- Template file: template.md -->
Name: {{ person.name }}
Age: {{ person.age }}

# Output

Name: John

Age: 30

In [ ]:
# Two-layer nested keys and some lists:

In [ ]:
# Input YAML data
employee:
  name: Alice
  department: IT
  skills:
    - Python
    - Java
    - SQL

In [ ]:
# Python equivalent
{
    'employee': {
        'name': 'Alice',
        'department': 'IT',
        'skills': ['Python', 'Java', 'SQL']
    }
}

In [ ]:
<!-- Template file: template.md -->
Name: {{ employee.name }}
Department: {{ employee.department }}
Skills:
{% for skill in employee.skills %}
- {{ skill }}
{% endfor %}

# Rendered Markdown Output:

Name: Alice
Department: IT
Skills:
- Python
- Java
- SQL

# 3. Three-layer nested keys and list:

In [2]:
# Input YAML data
company:
  name: ABC Inc.
  departments:
    IT:
      employees:
        - name: Alice
          age: 30
          skills:
            - Python
            - Java
        - name: Bob
          age: 35
          skills:
            - C++
            - SQL
    HR:
      employees:
        - name: Charlie
          age: 40
          skills:
            - Communication

In [ ]:
# Python equivalent
{
    'company': {
        'name': 'ABC Inc.',
        'departments': {
            'IT': {
                'employees': [
                    {
                        'name': 'Alice',
                        'age': 30,
                        'skills': ['Python', 'Java']
                    },
                    {
                        'name': 'Bob',
                        'age': 35,
                        'skills': ['C++', 'SQL']
                    }
                ]
            },
            'HR': {
                'employees': [
                    {
                        'name': 'Charlie',
                        'age': 40,
                        'skills': ['Communication']
                    }
                ]
            }
        }
    }
}

In [ ]:
<!-- Template file: template.md -->
Company Name: {{ company.name }}

{% for department, department_data in company.departments.items() %}
Department: {{ department }}
Employees:
{% for employee in department_data.employees %}
- Name: {{ employee.name }}
  Age: {{ employee.age }}
  Skills:
  {% for skill in employee.skills %}
  - {{ skill }}
  {% endfor %}
{% endfor %}
{% endfor %}

# Rendered Markdown Output:

Company Name: ABC Inc.

Department: IT
Employees:
- Name: Alice
  Age: 30
  Skills:
  - Python
  - Java
- Name: Bob
  Age: 35
  Skills:
  - C++
  - SQL

Department: HR
Employees:
- Name: Charlie
  Age: 40
  Skills:
  - Communication